#about-me-section {
    background: #101010;
    color: #ffe8b5;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 75%;
    height: 14rem;

    left: 50%;
    transform: translateX(-50%);

    margin-top: 7rem;

    border-radius: 1rem;
    
}

#about-me-content {
    text-align: center;
}

#about-me-title {
    font-size: 2.5rem;
    font-weight: 700;
}

#about-me-description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.5;

    padding-left: 5rem;
    padding-right: 5rem;
}