/*NAVBAR DEFAULT SETTINGS*/

/* the whole navbar */
#navbar { 
    width: 90%;                 
    height: 5.5rem;

    position: fixed;
    top: 1rem;
    right: 0;
    left: 50%;
    transform: translateX(-50%);

    background-color: #181818;
    background-position: 100%;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    border-radius: 5rem;

    transition: height 0.3s ease;
}

#navbar-leftside {
    position: absolute;
    left: 4rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    min-width: 0;
    flex-shrink: 1;
}

#navbar-middle {
    display: flex;
    align-items: center;
    gap: 2rem;

    width: 100%;
    justify-content: center;
}

#navbar-rightside {
    position: absolute;
    right: 4rem; /* 85.375 - (leftside 'left') */
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* default settings for all the elements in the navbar */
.navbar-element {
    background: none;
    background-color: transparent;
    
    width: fit-content; 
    min-width: 0;
}

.navbar-label,
button#art-menu,
.art-menu-item {
    background: none;
    background-color: transparent;
    
    color: #ffe8b5;
    
    border: none;
    padding: 0;
    margin: 0;
    margin-top: 0rem;
    height: 100%;
    line-height: normal;

    display: flex;
    flex-direction: row;
    align-items: center;
    
    overflow: visible;

    opacity: 1;
    visibility: visible;
}

.label-text {
    font-weight: 400;
    font-size: 1.3rem;

    opacity: 1;
    visibility: visible;
    max-width: 16rem;
    white-space: nowrap;

    font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 0, 'opsz' 48;

    transition: opacity 0.4s ease, visibility 0.4s ease, max-width 0.5s ease;
}

.label-text#name,
.label-text#contact-me {
    font-size: 2rem;
    font-weight: 400;

    margin: 0;
    margin-left: 1rem;
    white-space: nowrap;

    transition: opacity 0.4s ease, visibility 0.4s ease, font-size 0.4s ease;
}

#navbar-logo {
    width: 1.7rem;
    height: auto;
}

/* for the links in the navbar */
#navbar a,
button#art-menu{ 
    text-decoration: none;
    outline: none;

    display: flex;
    gap: .7rem;
    
    align-items: center;
}

/*----------------------------------------------------------------------------------------------------------------*/

/* NAVBAR FOCUS & CLICKING */

#navbar-logo:hover,
.navbar-element:hover,
.navbar-label:hover,
button#art-menu:hover,
.art-menu-item:hover {
    cursor: pointer;

    color: #ffd57c;

    transition: color .2s ease;
}

.navbar-label:hover .material-symbols-rounded {
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;
    transition: font-variation-settings .2s ease;
}

/* Highlight the active page link */
.navbar-label.active,
.dropdown-element.active,
button.navbar-label.active {
    color: #ffd57c;
}

.navbar-label.active .material-symbols-rounded,
button.navbar-label.active .material-symbols-rounded {
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;
}

/*----------------------------------------------------------------------------------------------------------------*/

/* NAVBAR SCROLL BEHAVIOUR */

#navbar.shrink {
  height: 3rem;
}

#navbar.shrink:hover {
    height: 5.5rem;
    opacity: 1;
    visibility: visible;
}

#navbar.shrink .label-text {
    opacity: 0;
    visibility: hidden;
    max-width: 0;
}

#navbar.shrink .label-text#name,
#navbar.shrink .label-text#contact-me {
    opacity: 1;
    visibility: visible;
    
    font-size: 1.45rem;

    max-width: 100%; 
}

/*----------------------------------------------------------------------------------------------------------------*/

/* ART DROPDOWN MENU */

.navbar-element.dropdown {
    position: relative;
}

.dropdown-menu#art-menu {
    background-color: #101010;

    display: flex;
    flex-direction: column;
    position: absolute;

    top: 130%;
    left: 0;

    max-height: 0;
    max-width: 10rem;
    overflow: hidden;

    padding: 0;
    border-radius: 0.5rem;

    transition: max-height .35s ease, padding .35s ease, box-shadow .35s ease;
}

.dropdown-menu.open#art-menu {
    display: flex;
    max-height: 10rem;
    padding: 0.5rem;
}

.dropdown-element.art-menu-item {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.dropdown-element.art-menu-item:hover {
    background-color: #202020;
    border-radius: 0.4rem;
}

.art-menu-item-text {
    font-weight: 700;
}